.faq_section{
    padding: 0 0 100px;
}
.accordion-item {
    margin-bottom: 20px;
}
h2.accordion-header button {
    font-size: 22px;
    font-weight: 500;
    color: var(--dark-blue);
}
.accordion-body {
    font-size: 16px;
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
}
.faq_img img{
    animation: spin 2s linear initial alternate;
}
@keyframes spin{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(50px);
    }
}


/* ------media query ----------------- */

/* ----small mobile device ---------- */
@media (max-width:375px){
    h2.accordion-header button {
        font-size: 18px;
        line-height: 28px;
    }
    .faq_img {
        padding-top: 50px;
    }
}