.addDestination_banner{
    background: url(../../img/addDestination_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 35vh;
    position: relative;
}
.addDestination_banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
}
.addDestination_section{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.addDestination_form{
    max-width: 650px;
    margin: 0 auto;
    padding: 60px 50px;
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
}
.addDestination_form h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-blue);
}
form input,textarea{
    display: block;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border: 2px solid var(--dark-blue);
}
form input[type="submit"]{
    background: var(--yellow-color);
    border: none;
    color: var(--dark-blue);
}
form input:focus{
    outline: none;
}

/* ------media query ----------------- */

/* ---- ipad device ---------- */
@media (min-width:768px) and (max-width:991px){
    .addDestination_form {
        padding: 50px 50px;
    }
}
/* ----small mobile device ---------- */
@media (max-width:768px){
    .addDestination_form {
        padding: 40px 30px;
    }
}