.services_container{
    padding: 100px 0 0;
}
.service_item{
    padding: 30px;
    border: 2px solid #EBEBEB;
    border-radius: 10px;
    transition: 0.3s;
}
.service_item:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ser_icon {
    width: 70px;
    height: 70px;
    background: #00D690;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.ser_icon i {
    font-size: 24px;
    color: white;
}
.ser_content h3{
    font-size: 28px;
    color: var(--dark-blue);
}
.ser_content p {
    max-width: 250px;
    margin: 0 auto;
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
}

/* ------media query ----------------- */

/* ---- ipad device ---------- */

@media (min-width:768px) and (max-width:991px){
    .service_item{
        padding: 15px;
    }
    .ser_content h3{
        font-size: 22px;
        font-weight: 600;
    }
}
