.recent_trips{
    padding: 0px 0 100px;
}
.blog_img{
    overflow: hidden;
}
.blog_img img {
    height: 300px;
    transition: 0.3s;
}
.blog_img img:hover{
    transform: scale(1.3) skew(5deg);
}
.card-body .blog_text {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    height: auto;
}

/* ------media query ----------------- */
/* ----large device------------ */
@media (min-width:991px) and (max-width:1200px){
    .card-body .card-title {
        font-size: 28px;
    }
}
/* ---- ipad device ---------- */
@media (min-width:768px) and (max-width:991px){
    .card-body .card-title {
        font-size: 24px;
    }
}
/* ----small mobile device ---------- */
@media (min-width:330px) and (max-width:375px){
    .hero_content h2 {
        font-size: 30px;
    }
}
@media (max-width:330px){
    .hero_content h2 {
        font-size: 36px;
        line-height: 48px;
    }
    .hero_content p {
        line-height: 30px;
    }
}